sudo: false
language: python
env:
  global:
    - TWINE_USERNAME="anthrotype"
    - secure: XiJ7iEFtyPHc5nA3c64ou/ddDI+6+aeXpeExISQVxBwwXzAqc9sF7VFsWeInGWA2lQpuSau6tqn76HESX7OFjFNmhaF6gZ8psU/TszUMGa+IJAr8rE6cJRP121c6CB9/nrgil89IVIaIAiBhbm/4FzaTANpN6BMo/YtlCBYdvq4EWccHjKf5WeTtzOJTJJCz2C/r4VVTSj+iGWyuHS/lYYXkWBfJBlXead0rD5ZwbYW5KDevBJGr4TDu3eqa2P1BQ3xmlzhheHk8TXi1XheN6Kp2158oc+GfPATcQsjaqSvuLDw5E3A6uhIeBxXfJ5Jm4YejeqUv/LqO27Iz7NGkfMZxjsuObtlLhXv09piUjxjFVXqgmqKx16G+/bS43DjZIOglMfcemuIF3jogPYTw27yFVeTQaUQuSN89rJsdUsNLuOa6VesFzl8w6+/7KE+bx7G9OHIhN/wudPTza703pfwpqvOJ9zfm7HA//zfwNY+uyfKcai98eKPSn/AnakZ9Sgfa9UK6y0+xMOyP9DeW2HfFCuuBHahT/wS6nSCPLJs+C2WSnk+LsevEXwsTOmhi7XRwG8ZJOlHoMV3EjWfwh4GFGAIarvdAuzz/bEBmLlD/RFWYijECnw168cb0/jqmeOuidnaDFm/aK6GzThNdXR6zGYRxn4917j05a1jJ2s4=

matrix:
  include:
    - python: 2.7
      env: TOXENV=py27-cov
    - python: 3.6
      env: TOXENV=py36-cov

branches:
  only:
    - master
    - /^v\d+\.\d+.*$/

install: pip install tox

script: tox

after_success:
  - tox -e codecov
  - |
    if [ -n "$TRAVIS_TAG" ] && [ "$TRAVIS_REPO_SLUG" == "googlefonts/ufo2ft" ] && [ "$TRAVIS_PYTHON_VERSION" == "3.6" ]; then
      pip install --upgrade twine pip setuptools wheel
      python setup.py sdist
      pip wheel --no-deps --wheel-dir dist .
      twine upload dist/*.whl dist/*.zip
    fi
